@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: "montserrat";
    font-weight: 700;
}

.flex-container-col {
    align-items: center;
    align-content: center;
    flex-direction: column;
}

/*This is the metric section input item*/
.calc-metric-input-label {
    display: block;
}

.calc-metric-input-input {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1px 10px 1px 10px;
    outline: none;
}

.calc-metric-input-input:focus {
    outline: 2px solid #5a7bff;
}

.calc-metric-input-element {
    font-size: 0.85em;
    padding: 10px 10px;
}

/*This is the metric section total item*/
.calc-metric-total-element {
    padding: 10px;
    text-align: center;
    background-color: #5a7bff;
    color: white;
    width: 70%;
    border-radius: 5px;
    margin: auto;
}

.calc-metric-total-label {
    display: block;
    font-size: 0.9em;
}

.calc-metric-total-value {
    font-size: 1.2em;
}

.calc-metric-total-wrapper {
    padding: 10px;
    font-size: 0.85em;
}

.calc-body {
    width: 100%;
    max-width: 600px;
    margin: 0px auto 100px;
    
}

.calc-title {
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px 10px 0px 0px;
}

.calc-section {
    font-size: 0.9em;
    /* The left/right padding add up to totals are so it aligns with the items below it */
    padding: 10px 6px 10px 16px;
}

.gray-bg {
    background-color: #323232;
}

.gray-text {
    color: #323232;
}

.white-text {
    color: white;
}

.yellow-bg {
    background-color: #ffde5a;
}

.yellow-text {
    color: #ffde5a;
}

.header {
    text-align: center;
}

/* This is the operating expenses card section */
.expense-section {
    padding: 6px;
    font-size: 1.05em;
}

.summary-section {
    padding: 11px 6px 11px 16px;
    font-size: 0.8925em;
}

.summary-item-padding {
    padding: 11px 0px;
}

.top-level-expense {
    padding: 5px 0px 5px 10px;
}

.top-level-expense:hover {
    background-color: #fff2ce;
    border-radius: 10px;
}

.nested-expense {
}

.nested-expense:hover {
    background-color: #fff3ce;
    border-radius: 10px;
}

.expense-input-group {
    font-size: 0.85em;
    padding: 0px 0px 10px 2px;
}

.expense-input-element {
    padding: 10px 0px;
}

button {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.cat-total-grid {
    display: grid;
    grid-template-columns: 1fr 70px 110px 20px;
    align-items: end;
    text-align: right;
}

.total-grid {
    display: grid;
    grid-template-columns: 1fr 80px 20px;
    align-items: end;
    text-align: right;
}

.justify-left {
    text-align: left;
}

.font-sz-sm {
    font-size: 0.85em;
}

.expanding-button {
    border: none;
    font-size: 0.85em;
    background-color: inherit;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    padding: 6px 0px 6px 0px;
}

.expanding-button:hover {
    text-decoration: underline;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 4px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svg-expand {
    background-image: url("../public/icons/chevron-down.svg");
}

.svg-collapse {
    background-image: url("../public/icons/chevron-up.svg");
}



